@{
    decimal price = (Item.Product.Price * Item.Quantity);
}

<div class="card shadow border-0 mb-3 w-50">
    <div class="card-body">
        <h5 class="card-title">@Item.Product.Name</h5>
        <p class="card-text mb-2">@($"{price.ToCurrency("sv-SE")} x{Item.Quantity}")</p>
        <Button Color="Color.Dark" Size="ButtonSize.Small" Icon="Icon.Plus" OnClick="AddCartItem" />
        <Button Color="Color.Danger" Size="ButtonSize.Small" Icon="Icon.Dash" OnClick="DeleteCartItem" />
    </div>
</div>