@page "/"
@attribute [AllowAnonymous]

<PageTitle>SuperDuperMart - Start</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>Click <NavLink href="/login">here</NavLink> to sign in.</p>
    </NotAuthorized>
</AuthorizeView>