@page "/"
@attribute [AllowAnonymous]

<PageTitle>SuperDuperMart - Start</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Authorized. Your session expires in @TokenExpirationTimeInMinutes minutes...</p>
    </Authorized>
    <NotAuthorized>
        <p>Click <NavLink href="/login">here</NavLink> to sign in.</p>
        <div class="row">
            <div class="col-sm-6">
                <Collapse>
                    <Header>Title 1</Header>
                    <Body>Lorem ipsum dolor sit...</Body>
                </Collapse>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>