@page "/"
@attribute [AllowAnonymous]

<PageTitle>SuperDuperMart - Start</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <p>Click <NavLink href="/login">here</NavLink> to sign in.</p>
    </NotAuthorized>
</AuthorizeView>