@page "/"
@attribute [AllowAnonymous]

<PageTitle>SuperDuperMart - Start</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Authorized. Your session expires in @TokenExpirationTimeInMinutes minutes...</p>
    </Authorized>
    <NotAuthorized>
        <p>Click <NavLink href="/login">here</NavLink> to sign in.</p>
    </NotAuthorized>
</AuthorizeView>