@page "/"
@attribute [AllowAnonymous]

<PageTitle>SuperDuperMart - Start</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Authorized. Your session expires in @TokenExpirationTimeInMinutes minutes...</p>
        <img src="/img/0824e22dae8f22325cdc962c4050731c.jpg" class="img-fluid" width="350" height="350" />
    </Authorized>
    <NotAuthorized>
        <p>Click <NavLink href="/login">here</NavLink> to sign in.</p>
    </NotAuthorized>
</AuthorizeView>