@page "/products"
@attribute [Authorize(Roles = Roles.Member)]

<PageTitle>SuperDuperMart - Products</PageTitle>

@if (Loading)
{
    <Spinner />
}
else
{
    @if (Model != null)
    {
        <SortDropdown 
            Options="SortOptions" 
            OnSelection="HandleSortSelection" />
        <div class="row row-cols-4 gy-4">
            @foreach (var product in Model.Data)
            {
                <div class="col">
                    <ProductCard Product="product" />
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col">
                <Pagination PageNumber="Model.PageNumber"
                            TotalPages="Model.TotalPages"
                            Position="Position.Center"
                            OnPreviousClick="HandlePreviousClick"
                            OnNextClick="HandleNextClick" />
            </div>
        </div>
    }
}