@using System.Globalization

<div class="card shadow border-0 mb-3 h-100">
    @if (!string.IsNullOrWhiteSpace(Product.Image))
    {
        <img src="@Product.Image" class="card-img-top" alt="product-image">
    }
    <div class="card-body">
        <h5 class="card-title">@Product.Name</h5>
        <small class="text-muted d-block mb-3">@Product.Category</small>
        <Button 
            Type="ButtonType.Button" 
            Label="@Product.Price.ToCurrency("sv-SE")"
            Color="Color.Dark" 
            Loading="Loading" 
            OnClick="AddProductToCart" />
    </div>
</div>