<div class="d-flex flex-row mb-3">
    <div class="me-2">
        <select class="form-select" value="@SortBy" @onchange="HandleSortByChange">
            @foreach (var option in Options)
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>
</div>