@page "/products"
@attribute [Authorize(Roles = Roles.Customer)]

<PageTitle>SuperDuperMart - Products</PageTitle>

<Spinner Enable="Loading" />
@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        <div class="col-sm-8">
            @foreach (var product in Model)
            {
                <ProductCard Product="product" />
            }
        </div>
    </div>
}