@page "/products"
@attribute [Authorize(Roles = Roles.Customer)]

<PageTitle>SuperDuperMart - Products</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row row-cols-4 gy-4">
            @foreach (var product in Model)
            {
                <div class="col">
                    <ProductCard Product="product" />
                </div>
            }
        </div>
    }
}