@if (Display)
{
    <div class="alert alert-success alert-dismissible">
        @if (!string.IsNullOrWhiteSpace(Message))
        {
            <span>@Message</span>
        }
        <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
    </div>
}