@switch (Color)
{
    case Color.Dark:
        <div class="alert alert-dark d-flex align-items-center">
            <span>@Message</span>
        </div>
        break;
    case Color.Secondary:
        <div class="alert alert-secondary d-flex align-items-center">
            <span>@Message</span>
        </div>
        break;
    case Color.Danger:
        <div class="alert alert-danger d-flex align-items-center">
            <span>@Message</span>
        </div>
        break;
}