<button class="btn btn-dark mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse">Trigger</button>
<div class="collapse" id="collapse">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5>@Header</h5>
            <p>@Body</p>
        </div>
    </div>
</div>