@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<Navigation />
<div class="container py-3">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <p class="text-danger">Error! Something went wrong.</p>
        </ErrorContent>
    </ErrorBoundary>
</div>
<BlazoredToasts
    Position="ToastPosition.BottomRight" 
    Timeout="10"
    IconType="IconType.None" 
    RemoveToastsOnNavigation="true"
    MaxToastCount="5">
    <CloseButtonContent>
        <button type="button" class="btn-close"></button>
    </CloseButtonContent>
</BlazoredToasts>