@inherits LayoutComponentBase

<Navigation />
<div class="container py-3">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <p class="text-danger">Error! Something went wrong.</p>
        </ErrorContent>
    </ErrorBoundary>
</div>