@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<Navigation />
<div class="container py-3">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <Alert Message="To be continued...🤖" Color="Color.Secondary" />
            @Body
        </ChildContent>
        <ErrorContent>
            <Alert Message="Error! Something went wrong" Color="Color.Danger" />
        </ErrorContent>
    </ErrorBoundary>
</div>
<BlazoredToasts
    Position="ToastPosition.BottomRight" 
    Timeout="5"
    IconType="IconType.None" 
    RemoveToastsOnNavigation="true"
    MaxToastCount="5">
</BlazoredToasts>