:root {
    --dark: #212529;
}

.page-link {
    color: var(--dark);
}

.page-link:hover {
    cursor: pointer;
    color: var(--dark);
}

.active {
    --bs-pagination-active-color: #FFF;
    --bs-pagination-active-bg: #212529;
    --bs-pagination-active-border-color: #212529;
}

.active > .page-link, .page-link.active:hover {
    color: #FFF;
}