<nav>
    <ul class="pagination">
        <li class=@(DisablePrevious ? "page-item disabled" : "page-item")>
            <a class="page-link" @onclick=Previous>
                <i class="bi bi-caret-left"></i>
            </a>
        </li>

        @for (int number = 1; number <= Pages; number++)
        {
            <li class="page-item">
                <a class="page-link" @onclick="async () => await Page(number)">@number</a>
            </li>
        }

        <li class=@(DisableNext ? "page-item disabled" : "page-item")>
            <a class="page-link" @onclick=Next>
                <i class="bi bi-caret-right"></i>
            </a>
        </li>
    </ul>
</nav>