<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link" href="#">Link One</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link Two</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link Three</a>
    </li>
</ul>