@page "/products"

<PageTitle>SuperDuperMart - Products</PageTitle>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Material</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Fantastic Fresh Pizza</td>
            <td>713.87</td>
            <td>Cotton</td>
            <td>
                <a class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
            </td>
            <td>
                <a class="btn btn-danger"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>