@page "/manage/products/create"
@attribute [Authorize(Roles = Roles.Administrator)]

<PageTitle>SuperDuperMart - New Product</PageTitle>

<div class="row">
    <div class="col-sm-10 col-lg-8">
        <div class="card shadow">
            <h5 class="card-header">New Product</h5>
            <div class="card-body">
                <EditForm Model="@Model" OnValidSubmit="Submit">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <InputText type="text" class="form-control" for="Model.Name" @bind-Value="Model.Name" />
                                <ValidationMessage For="() => Model.Name" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description (optional)</label>
                                <InputTextArea type="text" class="form-control" for="Model.Description" @bind-Value="Model.Description" rows="8" />
                                <ValidationMessage For="() => Model.Description" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label">Image (optional)</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.Image" />
                                <ValidationMessage For="() => Model.Image" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <InputSelect class="form-select" for="Model.CategoryId" @bind-Value="Model.CategoryId">
                                    @foreach (var option in CategoryOptions)
                                    {
                                        <option value="@option.Value">@option.Text</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <InputNumber type="number" class="form-control" for="Model.Price" @bind-Value="Model.Price" />
                                <ValidationMessage For="() => Model.Price" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Material</label>
                                <InputText type="text" class="form-control" for="Model.Material" @bind-Value="Model.Material" />
                                <ValidationMessage For="() => Model.Material" />
                            </div>
                        </div>
                    </div>
                    <Button Type="ButtonType.Submit" Label="Save" Color="Color.Dark" />
                    <Button Type="ButtonType.Button" Label="Cancel" Color="Color.Secondary" OnClick="Cancel" />
                </EditForm>
            </div>
        </div>
    </div>
</div>