@page "/products/{id:int}"
@attribute [Authorize(Roles = Roles.Shopper)]

<PageTitle>SuperDuperMart - @Model?.Name</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-8 col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title">@Model.Name</h3>
                        <p class="card-text">@Model.Description</p>
                        <ul>
                            <li>@Model.Material</li>
                            <li>@Model.Price.ToCurrency("sv-SE")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}