@page "/products"
@attribute [Authorize(Roles = Roles.Shopper)]

<PageTitle>SuperDuperMart - Products</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (Model != null)
    {
        <div class="row row-cols-4 gy-4">
            @foreach (var product in Model.Data)
            {
                <div class="col">
                    <ProductCard Product="product" />
                </div>
            }
        </div>
        <div class="row mt-3 text-center">
            <div class="col">
                <button class="btn btn-outline-dark btn-lg" @onclick=HandleGetMoreProductsClick>
                    <span>@($"Get {Model.PageSize} more products")</span>
                </button>
            </div>
        </div>
    }
}